geo-server/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://tempuri.org/" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://tempuri.org/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <!-- WSDL TYPES: definition of the data types that are used in the web service -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GeoCodeRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="city" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeoCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="coords" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>

       <s:element name="FetchHistoryRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="processedTransactionsCount" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="unbounded" name="geoCodeResults" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>

  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <wsdl:message name="GeoCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GeoCodeRequest"/>
  </wsdl:message>
  <wsdl:message name="GeoCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GeoCodeResponse"/>
  </wsdl:message>

    <wsdl:message name="FetchHistorySoapIn">
    <wsdl:part name="parameters" element="tns:FetchHistoryRequest"/>
  </wsdl:message>
  <wsdl:message name="FetchHistorySoapOut">
    <wsdl:part name="parameters" element="tns:FetchHistoryResponse"/>
  </wsdl:message>

  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
  <wsdl:portType name="GeoSoapPort">
    <!-- The operation name must be the same as the one specified in the service object -->
    <wsdl:operation name="GeoCode">
      <wsdl:input message="tns:GeoCodeSoapIn"/>
      <wsdl:output message="tns:GeoCodeSoapOut"/>
    </wsdl:operation>

     <wsdl:operation name="FetchHistory">
      <wsdl:input message="tns:FetchHistorySoapIn"/>
      <wsdl:output message="tns:FetchHistorySoapOut"/>
    </wsdl:operation>
  </wsdl:portType>

  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <wsdl:binding name="GeoServiceSoapBinding" type="tns:GeoSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GeoCode">
      <soap:operation soapAction="GeoCode" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

     <wsdl:operation name="FetchHistory">
      <soap:operation soapAction="FetchHistory" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeoServiceSoap12Binding" type="tns:GeoSoapPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GeoCode">
      <soap12:operation soapAction="GeoCode" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="FetchHistory">
      <soap12:operation soapAction="FetchHistory" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <!-- SERVICE:  -->
  <wsdl:service name="GeoService">
    <wsdl:port name="GeoServiceSoapPort" binding="tns:GeoServiceSoapBinding">
      <soap:address location="http://localhost:8000/wsdl"/>
    </wsdl:port>
    <wsdl:port name="GeoServiceSoap12Port" binding="tns:GeoServiceSoap12Binding">
      <soap12:address location="http://localhost:8000/wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>